html {
  
}

body {
    font-family: 'Cormorant Garamond', serif;
    background-color: ivory;
    color: #292929;
    padding-top: 50px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page-wrapper {
  min-height: 100%;
}

::-moz-selection { /* Code for Firefox */
    background: lightcyan;
  }
  
  ::selection {
    background: lightcyan;
  }

main {
    margin: auto;
    font-weight: 100;
    max-width: 750px;
    min-width: 400px;
    min-height: 58vh;
    max-height: 100%;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 2.5s;
    margin-bottom: 120px;
    padding-left: 10vw;
    padding-right: 10vw;
}

footer {
    margin-top: auto;
    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    line-height: 2em;
}

.footer-id {
    opacity: 50%;
}

.footer-link {
    color: black;
    text-decoration: none;
    margin-right: 15px;
    font-style: italic;
}

h1 a {
    background: linear-gradient(to bottom, #22c6f0 0%, #22c6f0 100%);
    background-position: 0 95%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: inherit;
    text-decoration: none;
    font-weight: 800;
  }

h1 a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2322c6f0' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 95%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }

nav {
    margin: auto;
    text-align: center;
    animation-name: navfadeIn;
    animation-duration: 0.6s;
}

nav a{
    color: inherit;
    opacity: 50%;
    text-decoration: none;
    transition: 0.5s;
    margin-right: 1em;
}

nav a:hover{
    color: inherit;
    opacity: 100%;
}

a.archive {
    background: linear-gradient(to bottom, #292929 0%, #292929 100%);
    background-position: 0 95%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
}

a.archive:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23292929' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 95%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }

h1 {
    font-size: 3.2em;
    font-weight: 100;
    text-align: center;
    margin-bottom: -50px;
    margin-top: 2em;
}

.name-text {
    color: inherit;
    font-weight: 800;
}

.pe-text {
    color: inherit;
    font-weight: 800;
}

.archive-text {
    opacity: 25%;
}

.data-text:hover .data-tooltip {
    visibility: visible;
    opacity: 1;
  }

.data-tooltip {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    font-size: 2rem;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }

.copyright {
    font-size: 0.9em;
    opacity: 75%;
    font-style: italic;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }

    50% {
        opacity: 70%
    }

    100% {
      opacity: 100%;
    }
  }

  @keyframes navfadeIn {
    0% {
      opacity: 0;
      position: relative;
      top: -2em;
    }

    100% {
      opacity: 100%;
      position: relative;
      top: 0;
    }
  }

/* Phone */
@media screen and (min-width: 360px) and (max-width:767px) {
  body {
    padding-top: 25px;
    height: 100vh;
  }

  .page-wrapper {
    height: 100%;
  }

  main {
    margin: auto;
    font-weight: 100;
    max-width: 100vw;
    min-width: 100vw;
    min-height: 58vh;
    max-height: 100%;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 2.5s;
    margin-bottom: 150px;
  }

  footer {
    margin-top: auto;
    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    line-height: 2em;
    margin: auto;
  }

  h1 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: -50px;
    margin-top: 2em;
    text-align: left;
}
/* Tablet */
/*
@media screen and (min-width: 768px) and (max-width: 1024px) { 
  body {
    padding-right: 5vw;
    padding-left: 5vw;
  }

  header {
    font-size: 1.8rem;
  }

  footer {
    position: static;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  h1 {
    font-size: 5.5rem;
    margin-bottom: -34px;
    text-align: left;
  }

  .archive-text {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
    
}*/
